.App {
  text-align: center;
}

.headerbir {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.box {
  display: flex;
  gap: 10px;
}

   .right {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

button {
  background-color: pink;
  color: red;
  padding: 10px 20px;
  margin: 10px 20px;
}

main {
  background-color: rgba(0, 0, 0, 0.733);
  color: white;
  display: flex;
  justify-content: space-between;
}
.rights {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
}

aside {
  background-color: beige;
  height: 300px;
  margin: 0;
}
