.App {
  text-align: center;
}

.headerbir {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.box {
  display: flex;
  gap: 10px;
}

.right{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}